:root{
    --dark-blue:#0A2640;
    --green-backgroound:#65E4A3;
    --body-background:#E5E5E5;
    --primary-color:#FFFFFF;
    --light-gray:#C4C4C4;
    --color-gray:#777777;
    --color-black:#000000;
    --gray-text:#F1F1F1;
    --font-size-300: 0.75rem; /* 12px */
    --font-size-350: 0.875rem; /* 14px */
    --font-size-400: 1rem;    /* 16px, base */
    --font-size-500: 1.25rem; /* 20px */
    --font-size-600: 1.5rem;  /* 24px */
    --font-size-700: 1.75rem; /* 28px */
    --font-size-800: 2rem;    /* 32px */
    --font-size-900: 2.25rem; /* 36px */
    --font-size-1000: 2.5rem;  /* 40px */
    --font-size-1200: 2.75rem; /* 44px */
    --font-size-1300: 3rem;    /* 48px */
    --font-size-1400: 3.25rem; /* 52px */


}